.wrapper{
    margin: 0 auto;
    max-width: 46rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
@media (max-width: 768px) {
    .wrapper {
      padding: 0 1rem;
    }
}

.inputContent {
    width: 100%;
    height: 3.375rem;
    display: flex;
    gap: 0.5rem;
    margin-top: -1.6875rem;
}
.inputContent input[type=text] {
    padding: 1rem;
    width: 39.875rem;
    border-radius: 8px;
    text-decoration: none;
    outline-style: none;
    border: 0;
    background: var(--gray-500);
    outline: 1px solid var(--gray-700);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-100);
}
.inputContent input[type=text]::-webkit-input-placeholder { 
    font-family: 'Inter', sans-serif;
}
.inputContent button {
    border-radius: 8px;
    text-decoration: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.875rem;
    padding: 1rem;
    font-weight: bold;
    background: var(--blue-dark);
    color: var(--gray-100);
    transition: background-color .2s;
    cursor: pointer;
}

.inputContent button:disabled, .inputContent button:disabled:hover {
    cursor: not-allowed;
    background: var(--blue-dark);
    opacity: .8;
}

.inputContent button:hover {
    background: var(--blue);
}
.contentBox {
    width: 100%;
    margin-top: 5.6875rem;
}

.contentBoxHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.contentBoxHeader h1, .contentBoxHeader h2{
    font-size: 0.875rem;
    font-weight: bold;
}
.contentBoxHeader h1 {
    color: var(--blue);
}
.contentBoxHeader h2{
    color: var(--purple);
}
.contentBoxHeader h1 span, .contentBoxHeader h2 span{
    font-size: 0.875rem;
    border-radius: 999px;
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    color: var(--gray-200);
    font-weight: bold;
    margin-left: 0.5rem;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1.5rem;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}
.content img{
    margin-bottom: 1rem;
}
.content strong, .content p {
    line-height: 1.4;
    font-size: 1rem;
    color: var(--gray-300);
}
@media (max-width: 768px) {
    .content strong, .content p {
      text-align: center;
    }
}
@media (max-width: 376px) {
    .inputContent {
        width: 100%;
        height: 3.375rem;
        flex-direction: column;
    }
    .inputContent input[type=text] {
        width: 100%;
    }
}